<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <style>
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <h2>Policy Overview</h2>
    <h3>Policy number: 93700</h3>
    <table style="width:20%">
        <tr>
          <th>Package name</th>
          <th>Price</th>
        </tr>
        {# Build later db for here. #}
        <tr>
            <td>Basic</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Additional Good</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Dental Good</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Physio Good</td>
            <td>15</td>
        </tr>
        <tr>
            <td><b>Total price</b></td>
            <td><b>147</b></td>
        </tr>
    </table>

    <h2>Additional Insurances Overview</h2>
    <table style="width:50%">
        <tr>
          <th>Type</th>
          <th>Max. covering (EUR)</th>
          <th>Usage (EUR)</th>
        </tr>
        {# Build later db for here. #}
        <tr>
            <td>Dental</td>
            <td>250</td>
            <td>49.38</td>
        </tr>
        <!-- <tr>
            <td>Prevention</td>
            <td>200</td>
            <td>99.95</td>
        </tr> -->
        <tr>
            <td>Physio</td>
            <td>300</td>
            <td>0</td>
        </tr>
    </table>

    <h2>Invoice details</h2>
    <table style="width:50%">
        <tr>
          <th>Policy number</th>
          <th>Invoice number</th>
          <th>Invoice date</th>
          <th>Care type</th>
          <th>Amount</th>
        </tr>
        {% for item in invoices %}
            <tr>
                <td>{{ item["policy number"] }}</td>
                <td>{{ item["invoice number"] }}</td>
                <td>{{ item["invoice date"] }}</td>
                <td>{{ item["caretype"] }}</td>
                <td>{{ item["amount"] }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Suggestion new policy</h2>
    <table style="width:30%">
        <tr>
          <th>Package name</th>
          <th>Price</th>
        </tr>
        {# Build later app for here.
           To build this, have to have
           a table of various insurance package #}
        <tr>
            <td>Basic</td>
            <td>100</td>
        </tr>
        <tr>
            <td>Additional Good</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Dental Good</td>
            <td>20</td>
        </tr>
        <tr>
            <td><b>Total price</b></td>
            <td><b>135</b></td>
        </tr>
    </table>

    <h2>Upload new invoice</h2>
    <form method=post enctype=multipart/form-data action="{{ url_for('upload_file') }}">
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>

</body>
</html>
